// Filename: products.css
// Project: Shadowed Souls Studios Products landing page

// Color palette

// Dark theme
$dark: #1a1a1a;
// Content background color for dark theme
$dark-content: lighten($dark, 5%);
// Content border color for dark theme
$dark-border: #6523A3;
// Lighter text color for dark theme
$dark-text: #999999;
// Shadowed Purple
$purple: #6523A3;
$lightpurple: lighten($purple, 10%);
$lightestpurple: lighten($purple, 20%);
$grey: #666666;

@font-face {
    font-family: 'steamwreck';
    src: url('fonts/steamwreck.woff2') format('woff2'),
         url('fonts/steamwreck.woff') format('woff'),
         url('fonts/steamwreck.svg#steamwreckregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


// Styling for body element
body {
  background-color: $dark;
  color: $dark-text;
}

// Styling for logo
.logo {
  max-width: auto;
  height: auto;
  display: block;
  border-bottom: 4px solid $dark-border;
  padding: 1rem 0;
  text-align: center;
  margin: 0 auto;
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

// Styling for Font Awesome icons
.fas, .fab, .far {
    color: $purple;
    size: 25em;
}

// Styling for navigation bar
.nav {
    max-width: auto;
    height: auto;
    display: block;
    padding: 1rem 0;
    text-align: center;
    margin: 0 auto;
    p {
        text-align: center;
        font-size: 3em;
    }
}

// Styling for responsive container section
.container 
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

// Styling for header element
h1 {
    text-align: center;
    font-size: 5em;
    font-family: 'steamwreck';
    margin: 0;
    padding: 1rem 0;
    background: linear-gradient(to right, $purple, $lightpurple, $lightestpurple, $purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Styling for responsive grid section
.grid {
    grid-auto-columns: minmax(auto, 1fr);
    max-width: 100%;
    height: auto;
    background-color: $dark-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
    text-align: center;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

}
// Styling for responsive image section. Each image contains a link to the product page and the name underneath.
.item {
    max-width: auto;
    height: auto;
    background-color: $dark-content;
    color: $dark-text;
    text-align: center;
    border: 3px solid $purple;
    padding: 2rem;
    a {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    p {
        text-align: center;
        margin: 0;
    }
}

// Styling for hyperlinks
a:link {
    color: $lightestpurple;
    text-decoration: underline;
}

a:visited {
    color: $grey;
    text-decoration: line-through;
}

a:hover {
    color: $lightestpurple;
    text-decoration: overline solid underline;
}

a:active {
    color: $lightestpurple;
    text-decoration: underline;
}
